src/main/app/flights-united.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:request-config name="HTTP_Request_Configuration1" host="${request.host}" port="${request.port}"  doc:name="HTTP Request Configuration"/>
    <flow name="/fights/united">
        <http:request config-ref="HTTP_Request_Configuration1" path="${request.base}" method="GET" doc:name="HTTP" metadata:id="84f0acc0-0eed-4ee1-b06d-adeb8c9d47c8"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="96c1f2a8-b73e-4955-ba5b-d92c775c0c4c">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload.flights map ((flight , indexOfFlight) -> {
	airline: flight.airlineName,
	code: flight.code,
	date: flight.departureDate,
	destination: flight.destination,
	seats: flight.emptySeats as :string,
	origin: flight.origin,
	plane: flight.planeType,
	price: flight.price as :string
})]]></dw:set-payload>
        </dw:transform-message>

        <logger level="INFO" doc:name="Logger" message="FLOWNAME: #[flow.name]  FECHA &amp; HORA   #[server.dateTime.format('yyyy-MM-dd HH:mm:ss')]  "/>
    </flow>
</mule>
