src/main/app/united-flights.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:request-config name="HTTP_Request_Configuration1" host="${request.host}" port="${request.port}"  doc:name="HTTP Request Configuration"/>
    <flow name="unitedFlightsFlow">
        <http:request config-ref="HTTP_Request_Configuration1" path="${request.base}" method="GET" doc:name="HTTP" metadata:id="84f0acc0-0eed-4ee1-b06d-adeb8c9d47c8"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="ab0d5205-0354-4546-813c-ec8c7198c6b2">
            <dw:set-payload resource="classpath:output/flights.dwl"/>

        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="FLOWNAME: #[flow.name]  FECHA y HORA   #[server.dateTime.format('yyyy-MM-dd HH:mm:ss')]  "/>
    </flow>
</mule>
